* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
  font-family: 'Montserrat', sans-serif;
  
}

.fixedtopbar {
  position: fixed;
  width: 100%;
}

.topbar {
  padding: 5px 10px;
  text-align: right;
  background: linear-gradient(to right, #F8F8F8 20%, #D8D8D8 100%);
  font-size: 0.8rem;
  font-weight: 600;
}

.top-logo {
  width: max-content;
  position: absolute;
  top: 0;
  left: 90px;
  background-color: white;
  border-radius: 80px;

}

.top-logo img {
  width: 150px;
}

.small-logo{
  display: none;
}

.topbar i {
  color: dodgerblue;
  font-size: 0.8rem;
}

.topbar button {
  padding: 8px 16px;
  border-radius: 25px;
  border: none;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-left: 20px;
}

.topbar button:hover {
  background-color: #0000b3;
}

.first {
  width: 100vw;
  height: 520px;
  background-image: url("/img/logo1.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;

}

.first .inner {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 150px;
}

.first .inner p {
  font-size: 3rem;
  font-weight: 900;
  color: white;
}

.first .inner button {
  width: max-content;
  padding: 8px 16px;
  border-radius: 25px;
  border: none;
  background-color: #4dd2ff;
  color: white;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-top: 8px;

}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  background-color: aliceblue;
  text-align: right;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 20px 15px;
  box-shadow: 1px 3px 8px #B8B8B8;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.navbar span {
  font-size: 1.2rem;
  color: #0000b3;
}



.right2 {
  display: none;
}




.menu-btn {
  display: none;


}

@media only screen and (max-width: 720px) {


  .navbar,
  .topbar {
    display: none;
  }

  .first {
    min-height: 300px;
  }

  .right2 {
    display: none;
    width: 50%;
    text-align: right;
    position: fixed;
    top: 70px;
    right: 1px;
    background-color: #909090;
  }

  .right2 a {
    display: block;
    line-height: 3;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-bottom: 1px solid #808080;
    text-decoration: none;
  }

  .right2 span {
    margin-right: 15px;

    line-height: 3;
    font-size: 18px;
    font-weight: 600;
    color: white;
  }
  
  .right2 a:hover {
    background-color: #808080;
    transition: all 0.5s;
  }
  
  
  .top-logo {
    display: none;
  }

  .menu-btn {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    text-align: right;
    font-size: 30px;
    position: fixed;
    padding: 5px 15px;
  }

  .menu-btn span {
    font-size: 1.4rem;
    font-weight: 600;
  }

  


  .first .inner {
    width: 75%;
    margin-left: 50px;
  }

  .first .inner p {
    font-size: 2.5rem;
  }
}